/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main Hero Image
    5. Main Content
    6. Footer

*/

/* 1. ---General Styles--- */


.hidden {
    display: none;
}

.container {
    width: 320px;
    margin: 0 auto;
    background-color: #fff;
    border: solid 0.5px #d2d2d2;
}

body {
    font-family: 'Montserrat', arial, sans-serif;
    font-size: 14px;
    color: black;
}

.box-color {
    background-color: black;
    color: white;
    text-align: center;
}

.box-color2 {
    background-color: #a7a7a7;
    text-align: center;
}

.color-backs {
    background-color: #d2d2d2;
}

/* 2. ---Grid--- */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-column-gap: 30px;
}

/*3. ---Header--- */

#header-logo {
    width: 138px;
    height: 50px;
    grid-column: 1/2;
    margin-top: 3px;
}

#main-nav{
    grid-column: 4/-1;
    margin-top: 5px;
}

#main-nav input {
    display: none;
}

/*4. ---Main Hero Image---*/
#hero-image {
    grid-column: 1/-1;
    width: 320px;
    height: 395px;  
    margin-top: 12px; 
}

#tagline {
    width: 228px;
    height: 137px;
    grid-column: 1/4;
    margin-left: 50px;
    margin-top: -120%;
}

#shop-now {
    grid-column: 1/2;
    height: 39px;
    width: 115px;
    margin-top: -170%;
    margin-left: 20px;
}
#learn-more {
    grid-column: 3/4;
    height: 39px;
    width: 115px;
    margin-top: -170%;
    margin-left: 20px;
}

/* 5. ---Main Content--- */

#present {
    margin-top: 50px;
}

.Presenting {
    width: 169px;
    height: 34px;
    font-size: 14px;
    grid-column: 2/4;
    font-style: italic;
}
#intro {
    width: 227px;
    height: 168px;
    grid-column: 1/4;
    margin-top: 20px;
    margin-left: 47px;
}
#meet {
    width: 271px;
    height: 88px;
    grid-column: 1/4;
    margin-top: 12%;
    margin-left: 25px;
}

#shop {
    width: 320px;
    height: 918px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#shop-product {
    background-color: #d2d2d2;
    margin-top: 40px;
    padding-bottom: 20px;
}

.shop {
    width: 137px;
    height: 39px;
    font-size: 14px;
    grid-column: 2/3;
    margin-top: 20px;
}

#original {
    width: 49px;
    height: 186px;
    grid-column: 1/2;
    margin-top: -30px;
    margin-left: 76px;
}
#original-con {
    width: 118px;
    height: 102px;
    grid-column: 2/4;
    margin-top: 35px;
    margin-left: 45px;
}

#orange {
    width: 49px;
    height: 186px;
    grid-column: 1/2;
    margin-top: -20px;
    margin-left: 76px;
}
#orange-con {
    width: 118px;
    height: 102px;
    grid-column: 2/4;
    margin-top: 40px;
    margin-left: 45px;
}

#mandarin {
    width: 49px;
    height: 186px;
    grid-column: 1/2;
    margin-top: -20px;
    margin-left: 76px;
}
#mandarin-con {
    width: 118px;
    height: 102px;
    grid-column: 2/4;
    margin-top: 40px;
    margin-left: 45px;
}

.buy {
    width: 137px;
    height: 39px;
    font-size: 14px;
    grid-column: 2/3;
}

#hero-video {
    grid-column: 1/-1;
    width: 320px;
    height: 184px;   
    margin-top: 50px;
}

#blogg {
    width: 320px;
    height: 1362px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#blog {
    width: 137px;
    height: 35px;
    font-size: 8px;
    grid-column: 2/3;
    margin-top: 40px;
    margin-bottom: -30px;
}
#blog-img1 {
    width: 228px;
    height: 142px;
    grid-column: 1/4;
    grid-row:2/3;
    margin-left: 45px;
    margin-top: -130%;
}
#blog-img2 {
    width: 163px;
    height: 163px;
    grid-column: 1/4;
    grid-row:2/3;
    margin-top: 41px;
    margin-left: 70px;
    border-radius: 100%;
}
#blog-img3 {
    width: 163px;
    height: 163px;
    grid-column: 1/4;
    grid-row:2/3;
    margin-top: 351px;
    margin-left: 70px;
    border-radius: 100%;
}

#blog-info1 {
    width: 167px;
    height: 81px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: -90px;
}
#blog-info2 {
    width: 167px;
    height: 81px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 231px;
}
#blog-info3 {
    width: 167px;
    height: 81px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 540px;
}

#history {
    width: 136px;
    height: 35px;
    font-size: 8px;
    grid-column: 2/3;
    margin-top: 30px;
}

#history1 {
    width: 264px;
    height: 310px;
    font-size: 14px;
    grid-column: 1/4;
    margin-top: 20px;
    margin-left: 28px;
}

#history3 {
    width: 137px;
    height: 36px;
    font-size: 14px;
    grid-column: 2/3;
    margin-top: 20px;
}
.history-video {
    grid-column: 1/-1;
    width: 320px;
    height: 200px;   
    margin-top: 104px;
}

/*---6.Footer---*/
#footer-con {
    height: 565px;
    width: 320px;
    margin-top: 150px;
}

#footer-box {
    width: 263px;
    height: 406px;
    margin-top: 40px;
    grid-column: 1/4;
    margin-left: 29px;
}